*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-color:#726CF8;
    --body-color:#5F0A87;
    --header-text:#647DEE;
}

body{
    font-family: sans-serif;
    display: grid;
    /* let content auto to occupy remaining height and pass value in fit-content with min-height for header and footer */
    grid-template-rows: fit-content(100px) auto fit-content(50px);
    grid-template-areas: "header" "main" "footer";
}
header,footer{
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    top: 0;
    position: relative;
    border-bottom: 1px solid black;
    grid-area: header;
}
footer{
    bottom: 0;
    position: fixed;
    border-top: 1px solid black;
    grid-area: footer;
}

main{
    grid-area: main;
}
.container{
    margin: 0 auto;
    width: 300px;
    height: 500px;
    border: 1px solid black;
}